<div class="flex justify-between mt-8">
  <div class="grid gap-x-1 grid-cols-4">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="search" nz-input placeholder="Tc no ara"

             (input)="onInput($event)"
             [(ngModel)]="inputValue" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" nzShape="round">All (2)</button>
    <button nz-button nzType="default" nzShape="round">Users (1)</button>
  </div>
  <button nz-button nzType="default" nzShape="round" (click)="onClick()">
    <span nz-icon nzType="plus"></span>
    Yeni Kayıt Ekle
  </button>
</div>

<nz-table
        [nzData]="usersData"
        class="mt-5 reminder-table"
        nzShowSizeChanger
        [nzFrontPagination]="true"
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageIndex]="1"
        [nzPageSize]="5"
        #fixedTable
        [nzScroll]="{ x: '1150px', y: '640px' }">
  <thead>
  <tr>
    <th nzLeft [nzSortFn]="true" nzWidth="180px"><span class="text-[#6A6A65]">Name</span></th>
    <th [nzSortFn]="true" nzWidth="90px">
      <div class="flex justify-center">
                <span
                  nz-icon
                  nzType="phone"
                  nzTheme="fill"
                  class="text-[#51416B] mx-2"
                ></span>
        <span class="text-[#6A6A65]">Phone Number</span>
      </div>
    </th>
    <th [nzSortFn]="true" nzWidth="40px">
      <span class="text-[#6A6A65] flex justify-center">Dose</span>
    </th>
    <th [nzSortFn]="true" nzWidth="300px">
      <span class="text-[#6A6A65]">Mesaj</span>
    </th>
    <th nzWidth="40px" nzRight></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of fixedTable.data">
    <td nzLeft>
      <div class="flex">
        <div class="flex flex-col mx-3">
          <span class="text-[#282B2E]">{{ data.name }} {{data.surname}}</span>
        </div>
      </div>
    </td>
    <td>
      <div class="flex flex-col justify-center items-center" *ngFor="let a of data.phone">
        <span class="text-[#524949]">+90{{ a }}</span>
      </div>
    </td>
    <td>
      <span  class="flex justify-center" >
             <nz-tag [nzColor]="tag[data.dose]">{{data.dose}}</nz-tag>
      </span>
    </td>
    <td>
      <span class="text-[#b8b7b5]">
        {{data.description }}
      </span>
    </td>
    <td nzRight>
      <button
        nz-button
        nzType="default"
        [nzSize]="'large'"
        (click)="onEdit()"
        class="bg-[#ffa800] text-[#ffa800] rounded-md mx-2"
      >
        Edit
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
